.side-bar
  .header
    .box
      .box__name
        masa
      .box__lists
        =link_to "#", class: "list" do
          = icon('fas', 'edit',  class: "icons")
        =link_to "#", class: "list" do
          = icon('fas', 'cog',  class: "icons")
  .groups
    .group
      .name
        techcamp
      .message
        まだメッセージがありません
    .group
      .name
        techcamp
      .message
        まだメッセージがありません
    .group
      .name
        techcamp
      .message
        まだメッセージがありません
